<!--SECTION EXPERIENCES-->

 <section id="section3" class="cd-section">
   <div class="container">
         <div class="row">
           <div class="col-md-12">
              <div class="box-content">
           <h1>Experiences</h1>
               <div class="col-md-6">
                   <div class="box-text">
                           <h2>ABOUT ME</h2>
                           <p>My name is Anna.  I am in the final year of Bachelor of Software Development Degree.
                            Software development is my passion, especially the innovative problem solving aspect of it!
                           </p>

                       </div>
               </div>
               <div class="col-md-6">
           <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">

                       <div class="box-text">
                       <h2>MY Skills</h2>
             <div class="skills-box">
                 <div class="skills-progress">
                   <p>Communication<span>95%</span></p>
                   <div class="meter nostrips develope">
                     <p style="width: 95%"></p>
                   </div>
                   <p>Management<span>95%</span></p>
                   <div class="meter nostrips design">
                     <p style="width: 95%"></p>
                   </div>
                   <p>Web Development<span>70%</span></p>
                   <div class="meter nostrips branding">
                     <p style="width: 70%"></p>
                   </div>
                   <p>Mobile Development<span>65%</span></p>
                   <div class="meter nostrips web-applications">
                     <p style="width: 65%"></p>
                   </div>
                 </div>
               </div>
                       </div>
           </div>
         </div>
             </div>
           </div>
     </div>
         <div class="row">
              <div class="col-md-12">
               <div class="box-content experiences">
                  <div class="col-md-12 list-experiences">
                       <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2015(May) - Present</span></h2>
                       <p>Software Developer at CDOT (Centre for Development of Open Technology) at Seneca College.
                         Click to edit position description
                         <ul style="margin-left: 50px">
                           <li>Responsible for developing Creative Commons image search system</li>
<li>Research and develop comparative image search licensing system using hashing algorithms</li>
<li>Technologies used: C++, JavaScript, AJAX, JSON, Python, PHP, MySQL, SQLite</li></p>
                  </div>
                  <div class="col-md-12 list-experiences">
                       <h2><i class="fa fa-briefcase"></i>Graphic Designer/Web Developer<span class="data">2008-2015</span></h2>
                       <p>Owner at Delicious Scrap Books.  Duties included</p>
                       <ul style="margin-left: 50px">
                         <li>Update and manage an online store with over 6,000 active customers (including initial set-up)</li>
<li>Handle customer enquiries, help requests and mass advertisements via email</li>
<li>Professional commercial use designs including logos, business cards, and templates (web design and user interface) using Photoshop and Illustrator</li> </p>
                  </div>

                </div>
             </div>
        </div>
     </div>
 </section><!-- cd-section -->
