<section id="section6" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-content">
                    <embed src=”/images/AnnaFatsevych_CV.pdf” width=”600″ height=”500″ alt=”pdf” pluginspage=”http://www.adobe.com/products/acrobat/readstep2.html”>
                </div>
                <!--close box content-->
            </div>
            <!--close row-->
        </div>
        <!--close container-->
</section>
<!-- cd-section -->
